.PaymentAndDeliveryForm {
  width: 70%;
  height: 100%;
  background-color: rgb(241, 237, 237);
  box-shadow: -5px 5px 5px 2px #ccc;
  padding: 50px;
  .userName {
    font-size: 1.5vw;
    padding-bottom: 10px;
  }
}
