@import "../mixins.scss";
.LoginFormAndCarousel {
  width: 100%;
  height: calc(100vh - 80px);
  min-height: 600px;
  display: flex;
  flex-direction: row-reverse;
  padding: 50px 42px;
  @include small {
    height: calc(100vh - 100px);
    padding: 50px 0;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
}
