div.secondMenu {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 20px;
  position: fixed;
  top: 80px;
  right: 0;
  height: 70px;
  z-index: 10;
  background-color: #fff;
  ul {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    li {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-right: 0.5px solid lightgray;
      padding: 0 10px;
      p {
        font-size: calc(12px + 0.5vw);

        color: rgb(49, 93, 107);
        font-weight: 500;

        &:hover {
          color: blue;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
  }
}
